{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'health/style.css' %}">

<script>
  // Given user input, replace any white space with '-',
  // then append it to the home URL; go to URL
  function getURL_given_input() {
    var input = document.getElementById("url").value;
    var url = "{% url 'health:home' %}" + input.toLowerCase();
    location.href = url;
    return false;
  }
</script>

<h3> Welcome to our health app </h3>

{% if error_message %}
  <p> <strong> {{ error_message }} </strong> </p>
{% endif %}

<form onSubmit="return getURL_given_input();">
  Enter symptom: <input type="text" name="url" id="url"> <input type="submit" value="Look for diagnoses">
</form>

{% if common_symptoms %}
  <p> Commonly searched symptoms: </p>
  <ul>
  {% for symptom in common_symptoms %}
    <li><a href="{% url 'health:diagnoses' symptom.symptom_text %}"> {{ symptom.symptom_text }} </a></li>
  {% endfor %}
  </ul>
{% else %}
  <p> No symptom information saved in system. </p>
{% endif %}
