body {
  color: gainsboro;
  background: #2A2826;
	margin: auto;
	width: 75%;
	max-width: 750px;
}

p, form, ul {
  font-size:20px;
}

a:link, a:visited {
  color: gainsboro;
}

a:hover {
  color: dimgray;
}
